@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --outrageous-orange: #fc7753ff;
  --sonic-silver: #747578ff;
  --alice-blue: #e8f0ffff;
  --dark-khaki: #cacf85ff;
  --black: #010109;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #010109;
  background-image: url("bbblurry(1).svg");
  background-repeat: no-repeat;
}

.navbar-brand h1{
  margin-left: 5px;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

#nav-transparent {
  background-color: transparent;
  border-bottom: 1px solid #5050506c;
  backdrop-filter: blur(5px);
}

#nav-transparent a {
  color: #FFF;
  font-weight: 700;
  filter: none;
  font-size: 20px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-top: 3px;
  margin-bottom: 6px;
}

nav button[type="submit"] {
  background-color: #FFF;
  border: 1px solid #fff;
  font-weight: 700;
  color: #000;
  border-radius: 20px; /* this will make the edges rounded */
  width: 80px; /* this will increase the width of the button */
  height: 40px; /* this will increase the height of the button */
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav form {
  display: flex;
  align-items: center;
}

nav input[type="text"], nav button[type="submit"] {
  display: inline-block;
  vertical-align: middle;
}

.navbar-collapse {
  justify-content: right;
}

.scrolling-wrapper {
  margin-top: 20px;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  padding-top: 15px;
  border-top: 1px solid #5050506c;
  border-bottom: 1px solid #5050506c;
  padding-bottom: 15px;
}

.cart {
  display: flex;
  margin-right: 10px; /* space between cards */
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 500px;
  height: 100px;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.cart h2 {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.cart img {
  width: 60px;
  display: block;
}

.arrows {
  display: flex;
  justify-content: center; /* center the buttons horizontally */
  align-items: center; /* center the buttons vertically */
  margin-top: 20px; /* space between carousel and buttons */
  filter: invert(100%);
}

#svg-icon {
  width: 50px; /* adjust the size of the SVG */
  fill: red; /* change the color of the SVG */
}

.left-arrow, .right-arrow {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.kocka {
  text-overflow: ellipsis;
  margin-top: 80px;
  margin-bottom: 100px;
  height: 400px;
  width: 55%;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}


.btn {
  text-decoration: none;
  font-size: 1.25rem;
  border: 3px solid #FFF;
  color: #FFF;
  display: block;
}

.btn:hover {
  text-decoration: none;
  font-size: 1.25rem;
  border: 3px solid #FFF;
  color: #FFF;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.text {
  padding-top: 20px;
  color: #fff;
  text-shadow: 0 0 70px #fff, 0 0 0px #fff;
  font-weight: 700;
  font-size: 6rem;
}

.text2 {
  padding-top: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}


.cr {
  margin-top: 40px;
  color: #FFF;
  font-weight: 700;
  font-size: 60px;
}

.mar {
  margin-top: 100px;
}

.glass {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 600;
  height: 180px;
  margin-bottom: 40px;
}


@media screen and (max-width: 1000px) {
  nav input[type="text"] {
    margin-left: 0px;
    margin-top: 10px;
  }
  nav button[type="submit"] {
    margin-top: 10px;
    margin-left: 10px;
  }
  
}

@media screen and (max-width: 1550px) {

    .kocka{
      width: 80%;
    }
  .text2 {
    padding-top: 10px;
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {

  .kocka{
    width: 80%;
  }
.text2 {
  padding-top: 5px;
  font-size: 20px;
}
.text {
  font-size: 80px;
}

.cr {
  margin-top: 40px;
  color: #FFF;
  font-weight: 700;
  font-size: 40px;
}
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 70px;
  }
.text2 {
  padding-top: 5px;
  font-size: 19px;
  font-weight: 1000px;
}
.kocka {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media screen and (max-width: 350px) {
  .text {
    font-size: 60px;
  }
.text2 {
  padding-top: 5px;
  font-size: 17px;
  font-weight: 1000;
}
}
}