@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --outrageous-orange: #fc7753ff;
  --sonic-silver: #747578ff;
  --alice-blue: #e8f0ffff;
  --dark-khaki: #cacf85ff;
  --black: #000000ff;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--black);
}


#nav-transparent {
  background-color: #181818;
  border-bottom: 1px solid #888;
}

#nav-transparent a {
  color: #eaeaea;
  font-weight: 700;
  filter: none;
  font-size: 20px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-top: 3px;
  margin-bottom: 6px;
}

nav input[type="text"] {
  background-color: #000;
  color: white;
  border-radius: 20px; /* this will make the edges rounded */
  border: #FFF solid 2px;
  width: 200px; /* this will increase the width of the input field */
  height: 40px; /* this will increase the height of the input field */
  padding: 10px; /* this will increase the space inside the input field */
  margin-left: 30px;
}
nav button[type="submit"] {
  background-color: #FFFFFF;
  color: #000;
  border-radius: 20px; /* this will make the edges rounded */
  width: 80px; /* this will increase the width of the button */
  height: 40px; /* this will increase the height of the button */
  margin-left: 10px;
}

nav form {
  display: flex;
  align-items: center;
}

nav input[type="text"], nav button[type="submit"] {
  display: inline-block;
  vertical-align: middle;
}

.navbar-collapse {
  justify-content: right;
}

.scrolling-wrapper {
  margin-top: 50px;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.cart {
  display: flex;
  scroll-snap-align: start;
  width: auto; /* width of each card */
  margin-right: 10px; /* space between cards */
  background-color: #202020;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.cart h2 {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.cart img {
  width: 60px;
  display: block;
}

.arrows {
  display: flex;
  justify-content: center; /* center the buttons horizontally */
  align-items: center; /* center the buttons vertically */
  margin-top: 20px; /* space between carousel and buttons */
  filter: invert(100%);
}

#svg-icon {
  width: 50px; /* adjust the size of the SVG */
  fill: red; /* change the color of the SVG */
}

.left-arrow, .right-arrow {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.kocka {
  text-overflow: ellipsis;
  margin-top: 80px;
  margin-bottom: 100px;
  height: 400px;
  width: 60%;
  background-color:hsla(256,100%,46%,1);
  background-image:
  radial-gradient(at 92% 30%, hsla(229,69%,63%,1) 0px, transparent 50%),
  radial-gradient(at 89% 18%, hsla(359,100%,50%,0.49) 0px, transparent 50%),
  radial-gradient(at 15% 90%, hsla(240,62%,75%,1) 0px, transparent 50%),
  radial-gradient(at 74% 83%, hsla(16,61%,74%,0.48) 0px, transparent 50%),
  radial-gradient(at 27% 14%, hsla(314,66%,79%,0.65) 0px, transparent 50%);
  border-radius: 40px;
}


.btn {
  text-decoration: none;
  font-size: 1.25rem;
  border: 3px solid #FFF;
  color: #FFF;
  display: block;
}

.btn:hover {
  text-decoration: none;
  font-size: 1.25rem;
  border: 3px solid #FFF;
  color: #FFF;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.text {
  padding-top: 20px;
  color: #fff;
  text-shadow: 0 0 70px #fff, 0 0 0px #fff;
  font-weight: 700;
  font-size: 6rem;
}

.text2 {
  padding-top: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}


.cr {
  margin-top: 40px;
  color: #FFF;
  font-weight: 700;
  font-size: 60px;
}

@media screen and (max-width: 1000px) {
  nav input[type="text"] {
    margin-left: 0px;
    margin-top: 10px;
  }
  nav button[type="submit"] {
    margin-top: 10px;
    margin-left: 10px;
  }
  
}

@media screen and (max-width: 1550px) {

    .kocka{
      width: 80%;
    }
  .text2 {
    padding-top: 10px;
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {

  .kocka{
    width: 80%;
  }
.text2 {
  padding-top: 5px;
  font-size: 20px;
}
.text {
  font-size: 80px;
}

.cr {
  margin-top: 40px;
  color: #FFF;
  font-weight: 700;
  font-size: 40px;
}
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 70px;
  }
.text2 {
  padding-top: 5px;
  font-size: 19px;
  font-weight: 1000px;
}
.kocka {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media screen and (max-width: 350px) {
  .text {
    font-size: 60px;
  }
.text2 {
  padding-top: 5px;
  font-size: 17px;
  font-weight: 1000;
}
}
}