            :root {
                --_1psdadq0: #000;
                --_1psdadq1: #fff;
                --_1psdadq2: transparent;
                --_1psdadq3: currentColor;
                --_1psdadq4: #fafafa;
                --_1psdadq5: #f2f2f2;
                --_1psdadq6: #e5e5e5;
                --_1psdadq7: #d4d4d4;
                --_1psdadq8: #a3a3a3;
                --_1psdadq9: #737373;
                --_1psdadqa: #525252;
                --_1psdadqb: #2b2b2b;
                --_1psdadqc: #121212;
                --_1psdadqd: #0a0a0a;
                --_1psdadqe: #fef2f2;
                --_1psdadqf: #fee2e2;
                --_1psdadqg: #fecaca;
                --_1psdadqh: #fca5a5;
                --_1psdadqi: #f87171;
                --_1psdadqj: #ef4444;
                --_1psdadqk: #dc2626;
                --_1psdadql: #d00505;
                --_1psdadqm: #450c0c;
                --_1psdadqn: #2a0909;
                --_1psdadqo: #fffbeb;
                --_1psdadqp: #fef3c7;
                --_1psdadqq: #fde68a;
                --_1psdadqr: #fcd34d;
                --_1psdadqs: #fbbf24;
                --_1psdadqt: #f59e0b;
                --_1psdadqu: #d97706;
                --_1psdadqv: #bd5200;
                --_1psdadqw: #411d06;
                --_1psdadqx: #241005;
                --_1psdadqy: #f0fdf4;
                --_1psdadqz: #dcfce7;
                --_1psdadq10: #bbf7d0;
                --_1psdadq11: #86efac;
                --_1psdadq12: #4ade80;
                --_1psdadq13: #22c55e;
                --_1psdadq14: #16a34a;
                --_1psdadq15: #0d883b;
                --_1psdadq16: #0d3b1e;
                --_1psdadq17: #071d10;
                --_1psdadq18: #f0fdfa;
                --_1psdadq19: #ccfbf1;
                --_1psdadq1a: #99f6e4;
                --_1psdadq1b: #5eead4;
                --_1psdadq1c: #2dd4bf;
                --_1psdadq1d: #14b8a6;
                --_1psdadq1e: #0d9488;
                --_1psdadq1f: #0a857b;
                --_1psdadq1g: #093431;
                --_1psdadq1h: #061917;
                --_1psdadq1i: #fff5f9;
                --_1psdadq1j: #ffe6f0;
                --_1psdadq1k: #fed7e7;
                --_1psdadq1l: #feb4d2;
                --_1psdadq1m: #fd81b5;
                --_1psdadq1n: #fc4f97;
                --_1psdadq1o: #fc227c;
                --_1psdadq1p: #de035e;
                --_1psdadq1q: #4c0120;
                --_1psdadq1r: #2d0113;
                --_1psdadq1s: #faf5ff;
                --_1psdadq1t: #f3e8ff;
                --_1psdadq1u: #e9d5ff;
                --_1psdadq1v: #d8b4fe;
                --_1psdadq1w: #c084fc;
                --_1psdadq1x: #a855f7;
                --_1psdadq1y: #9333ea;
                --_1psdadq1z: #7e22ce;
                --_1psdadq20: #361155;
                --_1psdadq21: #1c092a;
                --_1psdadq22: #eff6ff;
                --_1psdadq23: #daebff;
                --_1psdadq24: #bedcff;
                --_1psdadq25: #91c5ff;
                --_1psdadq26: #5ba8ff;
                --_1psdadq27: #3292ff;
                --_1psdadq28: #1180ff;
                --_1psdadq29: #0070f3;
                --_1psdadq2a: #003066;
                --_1psdadq2b: #001833;
                --_1psdadq2c: #0cce6b;
                --_1psdadq2d: #ffa400;
                --_1psdadq2e: #ff4e42;
                --_1psdadq2f: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
                --_1psdadq2g: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
                --_1psdadq2h: 37.5rem;
                --_1psdadq2i: 48rem;
                --_1psdadq2j: 60rem;
                --_1psdadq2k: 75rem;
                --_1psdadq2l: 87.5rem;
                --_1psdadq2m: none;
                --_1psdadq2n: spin 1s linear infinite;
                --_1psdadq2o: fade-in 0.15s ease;
                --_1psdadq2p: fade-out 0.15s ease;
                --_1psdadq2q: blink 1s infinite;
                --_1psdadq2r: bounce 1s infinite;
                --_1psdadq2s: pulse 2s cubic-bezier(0.4,0,0.6,1) infinite;
                --_1psdadq2t: 75ms;
                --_1psdadq2u: 100ms;
                --_1psdadq2v: 150ms;
                --_1psdadq2w: 200ms;
                --_1psdadq2x: 300ms;
                --_1psdadq2y: 400ms;
                --_1psdadq2z: 500ms;
                --_1psdadq30: 700ms;
                --_1psdadq31: 1000ms;
                --_1psdadq32: 1200ms;
                --_1psdadq33: 0.75rem;
                --_1psdadq34: 0.875rem;
                --_1psdadq35: 1rem;
                --_1psdadq36: 1.125rem;
                --_1psdadq37: 1.25rem;
                --_1psdadq38: 1.5rem;
                --_1psdadq39: 1.875rem;
                --_1psdadq3a: 2.25rem;
                --_1psdadq3b: 3rem;
                --_1psdadq3c: 3.75rem;
                --_1psdadq3d: 4.5rem;
                --_1psdadq3e: 6rem;
                --_1psdadq3f: 100;
                --_1psdadq3g: 200;
                --_1psdadq3h: 300;
                --_1psdadq3i: 400;
                --_1psdadq3j: 500;
                --_1psdadq3k: 600;
                --_1psdadq3l: 700;
                --_1psdadq3m: 800;
                --_1psdadq3n: 900;
                --_1psdadq3o: 1;
                --_1psdadq3p: 2;
                --_1psdadq3q: normal;
                --_1psdadq3r: 0.75;
                --_1psdadq3s: 1.2;
                --_1psdadq3t: 1.35;
                --_1psdadq3u: 1.5;
                --_1psdadq3v: 1.625;
                --_1psdadq3w: 1.75;
                --_1psdadq3x: 2.5;
                --_1psdadq3y: 0em;
                --_1psdadq3z: -0.05em;
                --_1psdadq40: -0.04em;
                --_1psdadq41: -0.03em;
                --_1psdadq42: -0.02em;
                --_1psdadq43: -0.01em;
                --_1psdadq44: 0.02em;
                --_1psdadq45: 0.04em;
                --_1psdadq46: 0.05em;
                --_1psdadq47: 0.1em;
                --_1psdadq48: 0.15em;
                --_1psdadq49: 0px;
                --_1psdadq4a: 1px;
                --_1psdadq4b: 0.125rem;
                --_1psdadq4c: 0.25rem;
                --_1psdadq4d: 0.375rem;
                --_1psdadq4e: 0.5rem;
                --_1psdadq4f: 0.625rem;
                --_1psdadq4g: 0.75rem;
                --_1psdadq4h: 0.875rem;
                --_1psdadq4i: 1rem;
                --_1psdadq4j: 1.25rem;
                --_1psdadq4k: 1.5rem;
                --_1psdadq4l: 1.75rem;
                --_1psdadq4m: 2rem;
                --_1psdadq4n: 2.25rem;
                --_1psdadq4o: 2.5rem;
                --_1psdadq4p: 2.75rem;
                --_1psdadq4q: 3rem;
                --_1psdadq4r: 3.5rem;
                --_1psdadq4s: 4rem;
                --_1psdadq4t: 4.5rem;
                --_1psdadq4u: 5rem;
                --_1psdadq4v: 6rem;
                --_1psdadq4w: 6.25rem;
                --_1psdadq4x: 7rem;
                --_1psdadq4y: 8rem;
                --_1psdadq4z: 9rem;
                --_1psdadq50: 10rem;
                --_1psdadq51: 0px;
                --_1psdadq52: 1px;
                --_1psdadq53: 0.125rem;
                --_1psdadq54: 0.25rem;
                --_1psdadq55: 0.375rem;
                --_1psdadq56: 0.5rem;
                --_1psdadq57: 0.625rem;
                --_1psdadq58: 0.75rem;
                --_1psdadq59: 0.875rem;
                --_1psdadq5a: 1rem;
                --_1psdadq5b: 1.25rem;
                --_1psdadq5c: 1.5rem;
                --_1psdadq5d: 1.75rem;
                --_1psdadq5e: 2rem;
                --_1psdadq5f: 2.25rem;
                --_1psdadq5g: 2.5rem;
                --_1psdadq5h: 2.75rem;
                --_1psdadq5i: 3rem;
                --_1psdadq5j: 3.5rem;
                --_1psdadq5k: 4rem;
                --_1psdadq5l: 4.5rem;
                --_1psdadq5m: 5rem;
                --_1psdadq5n: 6rem;
                --_1psdadq5o: 6.25rem;
                --_1psdadq5p: 7rem;
                --_1psdadq5q: 8rem;
                --_1psdadq5r: 9rem;
                --_1psdadq5s: 10rem;
                --_1psdadq5t: 11rem;
                --_1psdadq5u: 12rem;
                --_1psdadq5v: 13rem;
                --_1psdadq5w: 14rem;
                --_1psdadq5x: 15rem;
                --_1psdadq5y: 16rem;
                --_1psdadq5z: 18rem;
                --_1psdadq60: 20rem;
                --_1psdadq61: 21rem;
                --_1psdadq62: 22.5rem;
                --_1psdadq63: 24rem;
                --_1psdadq64: 25rem;
                --_1psdadq65: 0px;
                --_1psdadq66: 0.125rem;
                --_1psdadq67: 0.25rem;
                --_1psdadq68: 0.375rem;
                --_1psdadq69: 0.5rem;
                --_1psdadq6a: 0.75rem;
                --_1psdadq6b: 1rem;
                --_1psdadq6c: 1.5rem;
                --_1psdadq6d: 2rem;
                --_1psdadq6e: 9999px;
                --_1psdadq6f: 0 1px 2px 0 rgba(0,0,0,.05);
                --_1psdadq6g: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
                --_1psdadq6h: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                --_1psdadq6i: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
                --_1psdadq6j: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
                --_1psdadq6k: 0 25px 50px -12px rgba(0,0,0,.25);
                --_1psdadq6l: inset 0 2px 4px 0 rgba(0,0,0,.05);
                --_1psdadq6m: none;
                --_1psdadq6n: 0 12px 12px -10px rgba(0,0,0,.12);
                --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
            }          
            html { overflow-y: hidden; }

          body {
                font-family: var(--font-sans);
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color: var(--geist-background);
                color: var(--geist-foreground);
                scroll-padding-top: var(--header-height);
                background-color: black;
                }


                nav {
                    display: flex;
                    background-color: #000;
                    padding-bottom: 10px;
                    border-bottom: 0.00005rem solid rgba(136, 136, 136, 0.2);
                    font-weight: 500;

                  }
                  nav img {
                    height: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                  }
                nav span {
                    color: #FFF;
                    margin-top: 3px;
                    margin-right: 1200px;
                    font-size: 30px;
                    font-weight: 900;
                    font-style: italic;
                }
                  nav a {
                    color: #888;
                    margin-top: 12px;
                    margin-right: 100px;
                    text-decoration: none;
                  }
                
                  nav a:hover {
                    color: #FFF;
                    
                  }


          .centered {
            text-align: center;
            font-weight: bold;
          }
          .centered video{
            border-radius: 10px;
            display: block;
          }
        p {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-left: var(--padding);
            padding-right: var(--padding);
            background-image: linear-gradient(50deg,#7928ca,#ff0080);
            position: relative;
        }
        #rw {
            color: #888;
            position: relative;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 50px;
        }
        #cs {
            font-size: 80px;
        }
        #my-button {
          background-color: #333;
          color: #fff;
          border: 1px solid #fff;
        }
        p.blue {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(70deg,#7928ca,#00dfd8);
            transition: all 1s linear;
            position: relative;
            z-index: 1;
        }
        button {
            background-color: transparent;
            box-shadow: 0 0 10px 3px #7928ca, 0 0 10px 3px #00dfd8;
            color: #FFF;
            font-size: 30px;
            transition: background-color 0.5s, transform 0.5s, border-color 0.5s;

          }
          button:hover {
            background-color: #FFF;
            transform: scale(1);
            color: #000;
            
          }
        @media only screen and (max-width: 1750px) {
            nav span {
                margin-right: 950px;
            }
        }
        @media only screen and (max-width: 1650px) {
            nav span {
                margin-right: 900px;
            }
        }
        @media only screen and (max-width: 1550px) {
            nav span {
                margin-right: 800px;
            }
        }
        @media only screen and (max-width: 1450px) {
            nav span {
                margin-right: 700px;
            }
        }
        @media only screen and (max-width: 1350px) {
            nav span {
                margin-right: 600px;
            }
        }
        @media only screen and (max-width: 1250px) {
            nav span {
                margin-right: 500px;
            }
            .centered video{
                border-radius: 10px;
                display: block;
                width: 50%;
              }
        }
        @media only screen and (max-width: 1150px) {
            nav span {
                margin-right: 400px;
            }
        }
        @media only screen and (max-width: 1050px) {
            nav span {
                margin-right: 300px;
            }
            .centered video{
                border-radius: 10px;
                display: block;
                width: 50%;
              }
        }
        @media only screen and (max-width: 950px) {
            nav span {
                margin-right: 200px;
            }
            .centered video{
                border-radius: 10px;
                display: block;
                width: 80%;
              }
        }
        @media only screen and (max-width: 850px) {
            nav span {
                margin-right: 100px;
            }
            nav a {
                margin-right: 50px;
            }
        }
        @media only screen and (max-width: 750px) {
            nav span {
                margin-right: 90px;
            }
            nav a {
                margin-right: 50px;
            }
            .centered video{
                border-radius: 10px;
                display: block;
                width: 70%;
              }
        }
        @media only screen and (max-width: 650px) {
            nav span {
                margin-right: 70px;
            }
            nav a {
                margin-right: 30px;
            }
            .centered video{
                border-radius: 10px;
                display: block;
                width: 80%;
              }
        }
        @media only screen and (max-width: 550px) {
            nav span {
                margin-right: 50px;
            }
            nav a {
                margin-right: 10px;
            }
            nav img {
                height: 30px;

              }
              nav span {
                color: #FFF;
                margin-top: 1px;
                font-size: 20px;
                font-weight: 900;
            }
            nav a {
                margin-top: 5px;
              }
        }
        @media only screen and (max-width: 450px) {
            nav span {
                margin-right: 30px;
            }
            nav a {
                margin-right: 20px;
            }
            nav img {
                height: 30px;
              }
              nav span {
                color: #FFF;
                margin-top: 0px;
                font-size: 20px;
                font-weight: 900;
            }
            nav a {
                margin-top: 5px;
              }
        }

                @media only screen and (max-width: 450px) {
            nav span {
                margin-right: 30px;
            }
            nav a {
                margin-right: 20px;
            }
            nav img {
                height: 30px;
              }
              nav span {
                color: #FFF;
                margin-top: 0px;
                font-size: 20px;
                font-weight: 900;
            }
            nav a {
                margin-top: 5px;
              }
        }
        @media only screen and (max-width: 400px) {
            nav span {
                margin-right: 30px;
            }
            nav a {
                margin-right: 7px;
            }
            nav img {
                height: 30px;
              }
              nav span {
                color: #FFF;
                margin-top: 0px;
                font-size: 20px;
                font-weight: 900;
            }
            nav a {
                margin-top: 5px;
              }
        }
                @media only screen and (max-width: 360px) {
            nav span {
                margin-right: 50px;
            }
            nav a {
                margin-right: 5px;
            }
            nav img {
                height: 30px;
                margin-left: 0px;
              }
              nav span {
                color: #FFF;
                margin-top: 5px;
                font-size: 13px;
                font-weight: 900;
            }
            nav a {
                margin-top: 3px;
              }
        }
        @media only screen and (max-width: 300px) {
            nav span {
                margin-right: 5px;
            }
            nav a {
                margin-right: 5px;
            }
            nav img {
                height: 30px;
                margin-left: 0px;
              }
              nav span {
                color: #FFF;
                margin-top: 5px;
                font-size: 13px;
                font-weight: 900;
            }
            nav a {
                margin-top: 3px;
              }
        }
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .buttons {
            display: flex;
            flex-direction: column;
          }
          
          .btn {
            text-decoration: none;
            padding: 20px 50px;
            font-size: 1.25rem;
            position: relative;
            margin: 32px;
          }
          
          /* Button 1*/
          
          .btn-1 {
            background: #000;
            color: #fff;
            border-radius: 30px;
            transition: transform 0.3s ease;
          }
          
          .btn-1::after,
          .btn-1::before {
            content: "";
            position: absolute;
            opacity: 0.3;
            background: #000;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: transform 0.3s ease;
          }
          
          .btn-1:hover {
            transform: translate(-12px, -12px);
          }
          
          .btn-1:hover::after {
            transform: translate(6px, 6px);
          }
          
          .btn-1:hover::before {
            transform: translate(12px, 12px);
          }
          
          /* Button 2 */
          
          .btn-2 {
            color: #FFF;
          }
          
          .btn-2::after,
          .btn-2::before {
            border: 3px solid #FFF;
            content: "";
            position: absolute;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: transform 0.3s ease;
          }
          
          .btn-2:hover::after {
            transform: translate(-5px, -5px);
          }
          
          .btn-2:hover::before {
            transform: translate(5px, 5px);
          }
          
          /* Button 3 */
          
          .btn-3 {
            overflow: hidden;
            border-radius: 30px;
            box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
          
          .btn-3::after {
            content: "";
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(
              225deg,
              #27d86c 0%,
              #26caf8 50%,
              #c625d0 100%
            );
            z-index: -1;
            transition: transform 0.5s ease;
          }
          
          .btn-3:hover {
            transform: translate(0, -6px);
            box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
              -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
          }
          
          .btn-3:hover::after {
            transform: rotate(150deg);
          }
          